<header class="header">
  <div class="container-fluid">
    <div class="header-top">
      <div class="social-media">
        <ul>
          <li>
            <a href="#">
              <i class="fab fa-facebook-f"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fab fa-google-plus-g"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fab fa-instagram-square"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="logo">
        <a routerLink="/news">ReactiveNews</a>
      </div>
    </div>
    <div class="header-bottom">
      <nav id="nav">
        <ul class="list-menu">
          <li>
            <a href="#">Latest</a>
          </li>
          <li>
            <a href="#">Popular</a>
          </li>
          <li>
            <a href="#">Subscribe</a>
          </li>
        </ul>
      </nav>
      <div class="right-content">
        <ul>
          <li>
            <a href="#">
              <i class="fas fa-user"></i>
              <span>sign in</span>
            </a>
          </li>
<!--          <li>-->
<!--            <a href="javascript:void(0)" (click)="openSearch()" *ngIf="!showSearch">-->
<!--              <i class="fas fa-search"></i>-->
<!--              <span>search</span>-->
<!--            </a>-->
<!--            <div class="search-box" *ngIf="showSearch">-->
<!--              <input type="search" [(ngModel)]="search" placeholder="Min 3 chars" (keyup)="searchNews()" />-->
<!--              <i class="fas fa-times" (click)="openSearch()"></i>-->
<!--            </div>-->
<!--          </li>-->
        </ul>
      </div>
    </div>
  </div>
</header>
