<div class="footer">
  <div class="upper">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="block-footer">
            <strong>sections</strong>
            <ul>
              <li>
                <a href="#">International</a>
              </li>
              <li>
                <a href="#">sports</a>
              </li>
              <li>
                <a href="#">health</a>
              </li>
              <li>
                <a href="#">multimedia</a>
              </li>
              <li>
                <a href="#">science &amp; technology</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="block-footer">
            <strong>interactive</strong>
            <ul>
              <li>
                <a href="#">live stream</a>
              </li>
              <li>
                <a href="#">Videos</a>
              </li>
              <li>
                <a href="#">blogs</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="block-footer">
            <strong>corporate</strong>
            <ul>
              <li>
                <a href="#">Feedback</a>
              </li>
              <li>
                <a href="#">contact us</a>
              </li>
              <li>
                <a href="#">about us</a>
              </li>
              <li>
                <a href="#">career</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="block-footer">
            <strong>reactive network</strong>
            <ul class="list-networks">
              <li class="facebook">
                <a href="#">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li class="twitter">
                <a href="#">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li class="instagram">
                <a href="#">
                  <i class="fab fa-instagram"></i>
                </a>
              </li>
              <li class="linkedin">
                <a href="#">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright">
    <div class="left">
      <p>COPYRIGHT &copy; 2020 - ReactiveNews. ALL RIGHTS RESERVED.</p>
    </div>
    <div class="right">
      <ul>
        <li>
          <a href="#">terms</a>
        </li>
        <li>
          <a href="#">condition</a>
        </li>
      </ul>
    </div>
  </div>
</div>
